huff-pkg > *:not(:first-child) {
	padding-top: 1em;
}

huff-pkgName {
	display: block;
}

huff-pkgName::before{
	content: "package ";
	color: #D197D9;
}

huff-stmt {
	display: block;
}

huff-declare::before {
	content: "Ω ";
	color: #D197D9;	
}

huff-const::before {
	content: "Ξ ";
	color: #D197D9;		
}

huff-string {
	color: #E6DB74;	
}

huff-string::before {
	content: open-quote;
}

huff-string::after {
	content: close-quote;
}

huff-scope {
	display: block;
	border-left-style: solid;
	border-left-width: 1px;
	padding-left: 0.5em;
	margin-left: 0.5em;	
}

huff-args::before{
	content: "(";
	color: #7FB347;
}

huff-args::after{
	content: ")";
	color: #7FB347;
}

huff-assign::before {
	content: " ← ";
	color: #D197D9;
}

huff-func::before {
	content: " λ";
	color: #D197D9;
}

huff-arg:not(:first-child)::before{
	content: ", ";
}

body {
	white-space-collapsing: discard;
	background-color: #282828;
	color: white;
}
