.scope {
	border-left-style: solid;
	border-left-width: 1px;
	padding-left: 5px;
	margin-left: 5px;
}

.container {
	margin: 5px;
}

.function {
	padding-top: 15px;
}


.declare::before {
	content: "Ω ";
	color: #D197D9;
}
.constant::before {
	content: "Ξ ";
	color: #D197D9;
}
.functionDef::before {
	content: " λ";
	color: #D197D9;
}

.args::before{
	content: "(";
	color: #7FB347;
}

.args::after{
	content: ")";
	color: #7FB347;
}

.assign::before {
	content: " ← ";
	color: #D197D9;
}

.package::before{
	content: "package ";
	color: #D25252;
}


.string::before {
	content: '"';
}
.string::after {
	content: '"';
}
.arg:not(:first-child)::before{
	content: ", ";
}

.string {
	color: #E6DB74;
}

body {
	background-color: #282828;
	color: white;
}